/*------------------ Global Colors ------------------*/
:root[class="dark"] {
	--mainColor: #7367f0;
	--secondColor: #1f1f1f;
	--borderColor: #838486
}

.dark body {background-color: #121212; color: #DADADA} /*DADADA 262626 */
.dark a {color: #fff}
.dark input[type='text'] {background-color: #DADADA}



/*------------------ Mini Framework Colors ------------------*/
.dark .card {background-color: #1d1d1d} /*287180 5C5D61*/
.dark .separator {background-color: #DADADA}

.dark .swal2-popup {background: #222 !important}
.dark .swal2-styled.swal2-confirm {background-color: #7367f0 !important}
.dark .swal2-title, .dark .swal2-html-container {color: #DADADA !important}

.dark .custom-select .options {background-color: #121212}
.dark .custom-select .options .option:hover {background-color: #1d1d1d}



/*------------------ Component Colors ------------------*/
.dark .nav {background-color: #333}

.dark .leaderboard-card:before {background: linear-gradient(135deg, #333 50%, transparent 50%)}

.dark .quest-result .card-content .quest-votes .opt1-result,
.dark .quest-result .card-content .quest-votes .opt2-result {background-color: #333}

.dark .quest-result .card-content .quest-votes .opt1-result.optionOne,
.dark .quest-result .card-content .quest-votes .opt2-result.optionTwo {background-color: #7367f09c}

.dark .quest-result .card-content .quest-votes .opt1-result.optionOne .pin:before,
.dark .quest-result .card-content .quest-votes .opt2-result.optionTwo .pin:before {color: #fff5f5}

.dark .theme-toggler-container .theme-icon:before {content: '\f186'; color: #F4F1C9}