/*
** Simple reset
*/

:root {
  --gray: #585858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

input {
  border: 1px solid var(--gray);
}
::placeholder {
  color: var(--gray);
}
.dark ::placeholder {
  color: #898989;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
** Global styles
*/

body {
  color: var(--body-color);
  will-change: background-color;
  transition: background-color 0.3s;
  background-color: var(--body-bg);
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
strong {
  color: var(--headings);
}
img {
  height: auto;
  max-width: 100%;
}

/*
  Themes
*/

html {
  --body-bg: #fff;
  --body-color: #424242;
  --headings: #212121;
  --separator-color: rgb(51 51 51 / 30%);

  --primary: 51 173 142;
  --secondary: #ededed;
  --tertiary: #f9f9f9;
}

html.dark {
  --body-bg: #212121;
  --body-color: #e2e2e2;
  --headings: #fff;
  --separator-color: #333;

  --primary: 115 103 240;
  --secondary: #1f1f1f;
  --tertiary: #1d1d1d;
}

/*
  Utilities
*/

.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.btn,
.input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  will-change: background-color;
  transition: 0.3s background-color;
  background-color: rgb(var(--primary));
}
.btn:hover {
  background-color: rgba(var(--primary) / 90%);
}
